.header__topnavbar__item:hover {
  background-color: var(--main-body-color);
}
.header__topnavbar__item {
  transition: all 0.4s ease;
}
.header__button-search,
.header__button-clear,
.content__card__button-edit,
.content__card__button-remove,
.create__form__fields input[type="submit"],
.edit__form__fields input[type="submit"] {
  transition: all 200ms ease-in;
}
.header__button-clear:hover,
.header__button-search:hover,
.content__management__count__button-primary:hover,
.create__form__fields input[type="submit"]:hover,
.edit__form__fields input[type="submit"]:hover {
  background: #edd5c8;
}
.content__management__sort-checker:checked + .content__management__sort-field {
  background-color: var(--main-body-color);
}
.content__management__sort-checker:focus .content__management__sort-field {
  box-shadow: 0 0 1px #2196f3;
}
.content__management__sort-checker:checked
  + .content__management__sort-field:before {
  transform: translateX(28px);
}
.content__card {
  transition: all 200ms ease-in;
}
.content__card:hover {
  transform: scale(1.05);
}
.content__card__button-edit:hover {
  background: var(--main-body-color);
  color: #000;
}
.content__card__button-remove:hover {
  border: 1px solid var(--main-body-color);
  background: transparent;
  color: #997460;
}
.create__form__fields input:focus + label,
.create__form__fields input:valid + label {
  display: inline-block;
  background-color: #fff;
}
.edit__form__fields input:focus + label,
.edit__form__fields input:valid + label {
  display: inline-block;
  background-color: #fff;
}
.create__form__fields input:not(:placeholder-shown) + label {
  transform: translate(-195px, -10px);
}
.edit__form__fields input:not(:placeholder-shown) + label {
  transform: translate(-195px, -10px);
}
.create__form__fields-label {
  transform: translate(-200px, 15px);
}
.edit__form__fields-label {
  transform: translate(-200px, 15px);
}
.create__form__fields__section input[type="text"]:focus,
.create__form__fields__section input[type="number"]:focus,
.edit__form__fields__section input[type="text"]:focus,
.edit__form__fields__section input[type="number"]:focus {
  border-color: #c7997f;
}
.create__form__fields input:focus + label,
.edit__form__fields input:focus + label {
  color: #c7997f;
  font-weight: 400;
  animation: fadeIn 0.3s linear 1;
  transform: translate(-195px, -10px);
}
.edit__form__fields input:not(:placeholder-shown) + label,
.create__form__fields input:not(:placeholder-shown) + label {
  animation: none;
}
@keyframes fadeIn {
  0% {
    transform: translate(-200px, 15px);
  }
  100% {
    transform: translate(-195px, -10px);
  }
}
